%script{:type => 'text/javascript'}
  :plain
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
%script{:type => 'text/javascript'}
  :plain
    isLocal = !!( /localhost|192\.168/i.test(window.location.href) );
    if (!isLocal) {
      var pageTracker = _gat._getTracker("UA-873493-5");
      pageTracker._initData();
      pageTracker._trackPageview();
    }
    trackDownload = function(version) {
      if (!isLocal) pageTracker._trackPageview('/download/' + version + '/');
      return true;
    };
