!!!
%html
  %head
    %title Bluff: Beautiful graphs in JavaScript
    = stylesheets
    = javascripts 'js-class', 'bluff', 'excanvas'
  %body
    #header
      .sub
        %h1
          =link 'Bluff', '/'
          %span Beautiful graphs in JavaScript
        %ul#navigation
          %li
            %a{:href => '/assets/Bluff.0-3-6-2.zip', :onclick => "trackDownload('0.3.6.2')"}
              Download v0.3.6.2
          %li
            =link 'API reference', '/api.html'
    #main
      .sub
        = yield
    #footer
      .sub
        :textile
          @Bluff@, &copy; 2008&ndash;2010 "James Coglan":http://jcoglan.com. Released under the GPL and MIT licenses.
